body{
    font-family: "Roboto" sans-serif;
    color: #434455
    background-color: #FFF;
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
}

.logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent{
    color: #2E2F42;
}

.nav-link {
    color: #2e2f42
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero-section{
    background-color: #2E2F42;
    text-align: center;

}

.hero-title{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button-pr{
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
}

.button-pr:hover,
.button-pr:active{
    background-color: #404bbf;
}

.section-second{

}

.section-second-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-second-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-third{
    background-color: #F4F4FD;
}

.section-third-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.section-third-h{
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.section-third-p{
    background-color: #ffffff;
    font-size: 16
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.section-end{}

.section-end-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: capitalize;
}

.section-end-h{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-end-p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: #2E2F42;
}

.logo-footer{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent-footer{
    color: #F4F4FD;
}

.footer-p{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.02em;
}